/* Elements */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #FACADE;
}

main {
    width: 50%;
    margin: 0 auto;
}

footer {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #BADD1E;
}

/* Mobile */
@media (width <= 640px) {
    header {
	width: 95%;
    }

    main {
	width: 90%;
    }

    footer {
	width: 95%;
    }
}
